.bet-board {
    text-align: center;
    margin: 20px;
}

.bet-options {
    margin-bottom: 20px;
}

.color-options, .odd-even-options {
    margin: 10px 0;
}

.bet-button {
    padding: 15px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Анимация изменения */
}

.red {
    background-color: red;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.zero {
    background-color: green; /* Зеленый для нуля */
    color: white;
}

.even {
    background-color: #00ff00; /* Зеленый для четных */
    color: black;
}

.odd {
    background-color: #ffff00; /* Желтый для нечетных */
    color: black;
}

.number-board {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.number-board .bet-button {
    background-color: #ccc; /* Серый для чисел */
    color: black;
    transition: transform 0.2s ease; /* Анимация для чисел */
}

.selected {
    transform: scale(1.1); /* Увеличение выделенного элемента */
    border: 2px solid gold; /* Золотая рамка вокруг выделенного элемента */
}

.number-board .bet-button:hover, .bet-button:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}