.slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slots {
    overflow: hidden;
    display: flex;
    position: relative; /* Добавьте относительное позиционирование */
    width: 385px; /* Подберите подходящую ширину для фона */
    height: 800px;
    margin-bottom: 20px;
    background-image: url('public/imgs/tt.png'); /* Замените путь на ваш */
    background-size: cover; /* чтобы фон полностью покрывал контейнер */
    background-position: center; /* центрирует фон в контейнере */
}

.slot {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #000;
    position: absolute; /* Добавьте абсолютное позиционирование */
}

.slot:nth-child(1) {
    left: 20px; /* Положение по горизонтали */
    top: 15px;  /* Положение по вертикали */
}

.slot:nth-child(2) {
    left: 140px;
    top: 15px;
}

.slot:nth-child(3) {
    left: 260px;
    top: 15px;
}

.slot-item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 0); }
    25% { transform: translate(-1px, 0); }
    50% { transform: translate(1px, 0); }
    75% { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
}

